<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artboard</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <!--Artboard size 1-->
    <div class="artboard phone-1 bg-base-300">320×568</div><br>
    <!--Artboard size 2-->
    <div class="artboard phone-2 bg-blue-300">375×667</div><br>
    <!--Artboard size 3-->
    <div class="artboard phone-3 bg-base-300">414×736</div><br>
    <!--Artboard size 4-->
    <div class="artboard phone-4 bg-blue-300">375×812</div><br>
    <!--Artboard size 5-->
    <div class="artboard phone-5 bg-base-300">414×896</div><br>
    <!--Artboard size 6-->
    <div class="artboard phone-6 bg-blue-300">320×1024</div><br>

    <!--Artboard horizontal size 1-->
    <div class="artboard artboard-horizontal phone-1 bg-base-300">568×320</div><br>
    <!--Artboard horizontal size 2-->
    <div class="artboard artboard-horizontal phone-2 bg-blue-300">667×375</div><br>
    <!--Artboard horizontal size 3-->
    <div class="artboard artboard-horizontal phone-3 bg-base-300">736×414</div><br>
    <!--Artboard horizontal size 4-->
    <div class="artboard artboard-horizontal phone-4 bg-blue-300">812×375</div><br>
    <!--Artboard horizontal size 5-->
    <div class="artboard artboard-horizontal phone-5 bg-base-300">896×414</div><br>
    <!--Artboard horizontal size 6-->
    <div class="artboard artboard-horizontal phone-6 bg-blue-300">1024×320</div><br>
    <!-- Footer -->
    <footer class="footer items-center p-4 bg-neutral text-neutral-content">
        <div class="items-center grid-flow-col">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3"></path>
            </svg>
            <p>Copyright © 2024 - All right reserved</p>
        </div>
    </footer>
</body>

</html>